<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        lost and found
        <a href="/get_lost_found">get lost found</a>
        <form action="/add_to_lost_found" method="post">
            <input name="author" type="text" placeholder="name">
            <input name="data" type="text" placeholder="data">
            <button type="submit">add to lost_found</button>
        </form>
        <br>
        <form action="/delete_from_lost_found" method="post">
            <input name="id" type="text" placeholder="id">
            <button type="submit">delete from lost_found</button>
        </form>
    </h1>
    <h1>
        complaints
        <a href="/get_complaints">get complaints</a>
        <form action="/add_to_complaints" method="post">
            <input name="author" type="text" placeholder="name">
            <input name="data" type="text" placeholder="data">
            <button type="submit">add to complaints</button>
        </form>
        <br>
        <form action="/delete_from_complaints" method="post">
            <input name="id" type="text" placeholder="id">
            <button type="submit">delete from complaints</button>
        </form>
    </h1>
</body>
</html>