form.post-found-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.post-found-form input {
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
}

.post-found-textarea{
    display: flex;
    flex-direction: column
}
.desc-title{
    font-size: 14px;
    padding: 4px 0px;
    color: #648fff;
}
.post-found-desc{
    padding-left: 10px;
    font-size: 14px;
    padding-top: 10px;
}

.post-found-submit-btn{
    height: 30px;
    font-size: 14px;
    background: #648fff;
    border: 1px solid gray;
    color: #f2f4ff;
}